/* 
    Document   : login_css
    Created on : 2013-7-26, 1:34:36
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
        padding-top: 40px;
        padding-bottom: 40px;
            background-image: url('../img/background.gif');
    background-repeat: repeat;
      }
      h2{
          font-size: 31.5px;
          line-height: 40px;
          margin: 10px 0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: bold;
text-rendering: optimizelegibility;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
