<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xshare.xshareclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="XShare">
        <activity
            android:name="com.xshare.xshareclient.MainActivity"
            android:label="@string/app_name" 
            android:process="com.xshare.main">
        </activity>
        <activity
            android:name="com.xshare.xshareclient.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xshare.xshareclient.FileListActivity"
            android:label="@string/title_activity_file_list"
            android:theme="@android:style/Theme.NoTitleBar" >
            
        </activity>
        <activity
            android:name="com.xshare.xshareclient.FileSelectActivity"
            android:label="@string/title_activity_file_select" >
            
        </activity>
        <activity
            android:name="com.xshare.xshareclient.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
    </application>

</manifest>
